<nav class="navbar navbar-inverse container-fluid" style="border-radius:0px; margin-bottom:0px;">
<div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand" style="margin-top:-9px;"> <img src="/assets/public/images/flatshare.png" alt=""></a>
        <a class="navbar-brand" href="/">Flatshare</a>
    </div>
    <a class="navbar-brand pull-right" style="cursor:pointer"><span>Rahul </span>
      <%= total[0] ? total[0].total : 0 %>
    </a>
    <a class="navbar-brand pull-right" style="cursor:pointer"><span>Rohit </span>
      <%= total[0] ? total[0].sectotal  : 0 %>
    </a>
</div>
</nav>
